<app-navigation></app-navigation>
<router-outlet></router-outlet>

<p #paragraphHighlight="appHighlight" [appHighlight]="isHighlighted" color="green">SOME TEXT</p>
<button (click)="toggleHighlightHandler(paragraphHighlight)">ToggleHighlight </button>
<router-outlet></router-outlet>

<ng-template #elseTemplate>
  <p>Isn't HIGHLIGHTED...!!!</p>
</ng-template>
<P *ngIf="isHighlighted; else elseTemplate;">IS HIGHLIGHTED</P>

<ng-template [ngIf]="isHighlighted">
  <div>From ng-template</div>
</ng-template>

<div *ngFor="let person of users; let i = index">
  <p>{{i + 1}}: {{person.name}} is {{person.age}} years old.</p>
</div>

<ng-template ngFor [ngForOf]="users" let-person>
  <p>{{person.name}} is {{person.age}} years old.</p>
</ng-template>
