<div class="container">
  <div *ngIf="car">
    <img class="img" src={{handleUrl()}} alt="car"/>
    <div class="descriptionContainer">
        <p>
            <span class="title">Model: </span>
            <span class="textDescription">{{car.modelName}}</span>
        </p>
        <p>
            <span class="title">Description: </span>
            <span class="textDescription">{{car.description.slice(0, 30)}}.......</span>
        </p>
        <p>
            <span class="title">Price: </span>
            <span>€ </span>
            <span class="price">{{car.price}}</span>
        </p>
        <p>
            <button [routerLink]="['/cars/details', car._id]" class="btn">Details</button>
        </p>
    </div>
  </div>
  <!-- <div *ngIf="!car">
    <div class="wrapEmpty">
      <div class="wrapText">
        <p>
          <span class="red">No more ads. All cars are sold.</span>
        </p>
        <p>
          If you want to sell your car, please <span class="red">Create</span> your ad!
      </p>
        <p>
          If you are not a registered user, you must first register!
      </p>
        <p>
          Or just login if you are already registered user.
      </p>
      </div>
    </div>
  </div> -->
</div>
