h1 {
  color: #234465;
  font-weight: bold;
  font-size: 32px;
  margin-bottom: 2%;
  text-align: center;
  text-decoration: underline;
}

.container {
  width: 60%;
  margin: 0 auto;
}

.text {
  padding-top: 5vh;
  font-family: 'Lemonada', cursive;
  line-height: 2;
  text-align: justify;
  text-indent: 30px;
}

.map{
  height: 70vh;
  width: 100%;
}

.textContainer {
  padding: 5vh 0;
}

.spanText {
  display: block;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  padding: 10px 0;
}

.map {
  display: flex;
  height: 40vh;
  justify-content: center;
  width: 100%;
}

.center {
  height: 100%;
  width: 80%;
}

img {
  height: 100%;
  width: 100%;
}
