<h1>Contacts</h1>
<div class="container">
    <div class="textContainer">
        <div>
            <h2>CarMagazine.com</h2>
        </div>
        <div>
            <span class="spanText">Plovdiv 4000, str. "Osvobojdenie" №49</span>
            <span class="spanText">Telephone: 0898/135437</span>
            <span class="spanText">Work time: 9:00 - 18:00 / without Sunday /</span>
            <span class="spanText">e-mail: CarMagazine@gmail.com</span>
        </div>
    </div>
    <div class="map">
        <div class="center">
          <img src="../../assets/maps.png" alt="address">
        </div>
    </div>
</div>
