<h1>About Us</h1>
<div class="container">
      <p class="text">
          We are a big showroom for cars and SUVs for 15 years on the Bulgarian car market.
          We offer a wide variety of both luxury and middle class vehicles.
          We have recently provided our online advertising platform to you as well.
          Here you can advertise your car for sale or find one from the ads.
      </p>
      <p>
          <img src="../../assets/showroom-2.jpg" alt="showroom" class="imgShowRoom"/>
      </p>
      <p class="text">
          If you are a young, positive, creative person with at least a little experience in selling cars,
           we can offer you a job. If you are interested, contact us on the <a routerLink="/contact" class="link">contact page</a>.
      </p>
  </div>
