<aside class="aside">
  <p class="time">{{handleTimer()}}</p>
  <div class="eachSort">
    <p class="paragraphMargin">Sort cars by price:</p>
    <p class="paragraphMargin">-descending order</p>
    <button class="submit">Sort</button>
  </div>
  <div class="eachSort">
    <p class="paragraphMargin">Sort cars by price:</p>
    <p class="paragraphMargin">-ascending order</p>
    <button class="submit">Sort</button>
  </div>
  <div class="eachSort">
    <p class="paragraphMargin">Sort alphabetically:</p>
    <p class="paragraphMargin">-ascending order</p>
    <button class="submit">Sort</button>
  </div>
</aside>
