.time {
  font-family: 'Space Mono', monospace;
  position: fixed;
  top: 16vh;
  background-color: lightgray;
  border: 1px solid gray;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  box-shadow: 0px 1px 3px 1px inset rgb(109, 107, 107);
  padding: 3px;
}

.aside {
  position: fixed;
  text-shadow: 1px 2px 3px #663300;
}

.eachSort {
  background: #f3e2c7;
  background: -moz-linear-gradient(top,  #f3e2c7 0%, #c19e67 50%, #b68d4c 100%, #e9d4b3 100%, #b68d4c 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  #f3e2c7 0%,#c19e67 50%,#b68d4c 100%,#e9d4b3 100%,#b68d4c 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  #f3e2c7 0%,#c19e67 50%,#b68d4c 100%,#e9d4b3 100%,#b68d4c 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f3e2c7', endColorstr='#b68d4c',GradientType=0 ); /* IE6-9 */
  border-bottom: 2px solid brown;
  border-top: 2px solid brown;
  border-right: 2px dashed brown;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  margin-top: 8vh;
  padding: 10px 0;;
  text-align: center;
}

.btn {
  background-image: linear-gradient(#c31432, #cc0000, #660000);
  border-radius: 10px;
  border: 5px solid #660033;
  color: wheat;
  width: 40%;
  height: 30px;
}

.btn:hover {
  color: white;
  cursor: pointer;
  font-weight: bold;
}

.textIndent {
  text-indent: 10%;
}

.paragraphMargin {
  margin: 5%;
}

.submit {
  background-color: firebrick;
  border-radius: 10px;
  border: 2px solid gray;
  box-shadow:  1px 4px 0 grey, 2px 3px 5px black, 5px 3px 2px #808080;
  text-shadow: 1px 2px 0 grey, 2px 3px 1px  black, 3px 4px 2px #808080;
  color: wheat;
  cursor: pointer;
  font-weight: bold;
  padding: 4px 10px;
  margin-top: 10px;
}

.submit:hover {
  background-color: firebrick;
  box-shadow: 1px -4px 0 grey, 2px -3px 5px black, 5px -3px 2px #808080;
  text-shadow: 1px -2px 0 grey, 2px -3px 4px black, 5px -3px 2px #808080;

  color: white;
}
